<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="header_logo">
                <a asp-area="" asp-controller="Publications" asp-action="Index"><img src="/img/logo_portr.jpg" alt="Logotype"></a>
            </div>
            <div class="header_right">
                <div class="header_search">
                    <form id="save-query-form" asp-area="" asp-controller="Publications" asp-action="Index" method="get">
                        <input type="text" name="filters[Title]" placeholder="Search for...">
                        <button>Find</button>
                    </form>
                </div>
                <div class="header_auth">
                    @if (User.Identity!.IsAuthenticated)
                    {
                        @if (User.IsInRole(UserRoles.Publisher.ToString()))
                        {
                            <a asp-area="Publisher" asp-controller="Publications" asp-action="Index">Publications</a>
                        }
                        else
                        {
                            <a asp-controller="Auth" asp-action="BecomePublisher">Become publisher</a>
                        }
                        <a asp-controller="Auth" asp-action="Logout">Sign out</a>
                    }
                    else
                    {
                        <a asp-controller="Auth" asp-action="Login">Sign in</a>
                        <a asp-controller="Auth" asp-action="Register">Sign up</a>
                    }
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        @RenderBody()
    </main>

    <footer>
        <p>(c) CharityPost, 2023</p>
        <p>Follow us on social networks:</p>
        <div class="footer__social">
            <a href="https://www.facebook.com/"><img src="/img/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="Instagram"></a>
            <a href="https://twitter.com/"><img src="/img/twitter.webp" alt="Twitter"></a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)

    <script>
        document.querySelectorAll('#save-query-form').forEach(function (form) {
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                var urlParams = new URLSearchParams(window.location.search);
                urlParams.forEach(function (value, key) {
                    if (!document.querySelector('input[name="' + key + '"]')) {
                        var hiddenField = document.createElement('input');
                        hiddenField.type = 'hidden';
                        hiddenField.name = key;
                        hiddenField.value = value;
                        this.appendChild(hiddenField);
                    }
                }, this);
                this.submit();
            });
        });
    </script>
</body>
</html>